In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice2').getOrCreate()

In [3]:
spark

In [9]:
df_spark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [10]:
df_spark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Soumik| 23|         0|
| Saket| 22|         1|
| Rohit| 22|         2|
+------+---+----------+

In [11]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
#one more way probably perfect
df_new=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [13]:
df_new.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Soumik| 23|         0|
| Saket| 22|         1|
| Rohit| 22|         2|
+------+---+----------+

In [14]:
type(df_new)

pyspark.sql.dataframe.DataFrame

In [15]:
df_new.columns

['Name', 'Age', 'Experience']

In [18]:

#select operation

df_new.select('Name').show()

+------+
|  Name|
+------+
|Soumik|
| Saket|
| Rohit|
+------+

In [20]:
df_new.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Soumik|         0|
| Saket|         1|
| Rohit|         2|
+------+----------+

In [21]:
df_new.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [24]:
df_new.describe().show()

+-------+------+------------------+----------+
|summary|  Name|               Age|Experience|
+-------+------+------------------+----------+
|  count|     3|                 3|         3|
|   mean|  null|22.333333333333332|       1.0|
| stddev|  null|0.5773502691896258|       1.0|
|    min| Rohit|                22|         0|
|    max|Soumik|                23|         2|
+-------+------+------------------+----------+

In [27]:
#adding columns and dropping columns

df_new=df_new.withColumn('expo after two years',df_new['Experience']+2)

In [28]:
df_new.head()

Row(Name='Soumik', Age=23, Experience=0, expo after two years=2)

In [29]:
df_new=df_new.drop('expo after two years')

In [30]:
df_new.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Soumik| 23|         0|
| Saket| 22|         1|
| Rohit| 22|         2|
+------+---+----------+

In [33]:
#Renaming
df_new.withColumnRenamed('Name','Names').show()

+------+---+----------+
| Names|Age|Experience|
+------+---+----------+
|Soumik| 23|         0|
| Saket| 22|         1|
| Rohit| 22|         2|
+------+---+----------+